body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  margin: 0;
  background-color: #8ce4e4c9;
  background-image: linear-gradient(#a8eeeec9, #335c5c);
  /* #8ce4e4c9; */
}

header {
  display: flex;
  justify-content: center;
  background-color: #5abbbb;
  width: 20vw;
  color: #ffffff;
  margin-top: 10%;
  border-radius: 2%;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 5em;
  margin: 0;
}

.todo-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 5%;
}

#addButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button {
  background-color: #5abbbb;
  color: #ffffff;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button:hover {
  background-color: #5abbbbc9;
}

#inputField {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 0;
}

input {
  font-size: 1rem;
  padding: 5px;
}

li {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: space-between;
}

button {
  margin: 2px;
  cursor: pointer;
}
