body {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
  background-color: #8ce4e4c9;
  background-image: linear-gradient(#a8eeeec9, #335c5c);
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: center;
  background-color: #5abbbb;
  width: 25em;
  color: #ffffff;
  margin-top: 10%;
  border-radius: 2%;
  box-shadow: 3px 3px rgb(47, 47, 47);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 5em;
  margin: 0;
  display: flex;
  justify-content: center;
}

.todo-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 5%;
}

#addButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button {
  background-color: #5abbbb;
  color: #ffffff;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: 2px 2px rgb(47, 47, 47);
}

.add-button:hover {
  background-color: #378787;
}

#inputField {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 0;
}

input {
  font-size: 1rem;
  padding: 5px;
  border-radius: 2%;
}

table {
  font-family: "Poppins regular", sans-serif;
  width: 100%;
}

/* decide on margin */
tr {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}

button {
  margin: 2px;
  cursor: pointer;
}

.finished-button {
  background-color: rgb(147, 218, 139);
  border-radius: 10%;
}

.complete-task {
  text-decoration: line-through;
  color: rgb(67, 67, 67);
}

.delete-button {
  background-color: rgb(242, 43, 41);
  border-radius: 10%;
}
